.ui.header.hamburger-menu-title-colored {
    font-size: 16px;
    color: #1dbf94;
}

.ui.header.hamburger-menu-title-main {
    font-size: 16px;
    color: #ece9e9;
}

.bars.icon {
    color: #1dbf94;
}