.ui.grid.landing-page-grid-window {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}


.ui.header.landing-page-header {
    font-size: 64px;
    color: #313332;
}

.ui.container.landing-page-main-text {
    font-size: 21px;
}