.portfolio-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
}

.portfolio-masonry-grid-column {
  padding: 20px;
  background-clip: padding-box;
}
  
.portfolio-masonry-grid-column > div { 
  background: grey;
  margin-bottom: 30px;
}

