.profile-links {
    position: absolute;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    bottom: 17.5%;
}

.profile-links i {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 35px;
    color: #9a9b9c;
}

.profile-links i:hover{
    color: #ffffff;
}
