.header-group {
    text-align: center;
}

.header-group h1 {
    font-size: 34px;
}

.header-group h3 {
    margin-top: 0%;
    color: rgb(13, 219, 164);
}

.ui.button.resume-download-button {
    color: #0ddba4;
    background-color: #313332;
    margin-left: 5%;
    width: 90%;
}
