/*
.sticky-footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    position: fixed;
    bottom: 0;
    width: 70%;
}*/

.footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    bottom: 0;
    flex-shrink: 0;
  }